{% extends 'base.html.twig' %}

{% block body %}
    <h1>Image</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ image.name }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ image.url }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('images_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
